* {
	box-sizing: border-box;
	background-color: goldenrod;
	color: maroon;
}

h1 {
	text-align: center;
	text-decoration-line: underline;
	text-decoration-style: wavy;
}
h2 {
	text-align: center;
	font-weight: bold;
	text-decoration-line: overline underline;
	text-decoration-style: wavy;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
	padding: 20px;
	margin: 10px;
}

li {
	padding: 4px;
	margin: 5px;
	font-size: 20px;
}
.change-status,
.addbtn {
	background-color: maroon;
	color: goldenrod;
	border-radius: 10%;
}

.delete-burger {
	background-color: green;
	color: white;
	border-radius: 10%;
}
.label {
	font-weight: bold;
}

#create-form {
	margin: auto;
	width: 50%;
	border: 3px solid maroon;
	padding: 5px;
}

.form-group {
	margin-bottom: 5px;
}
